window {
	margin: 0px;
	border: 1px solid #a9b1d6;
	background-color: #1a1b26;
}

#input {
	margin: 5px;
	border: none;
	color: #d8dee9;
	background-color: #24283b;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #24283b;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #24283b;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #a9b1d6;
}

#entry:selected {
	background-color: #1a1b26;
}
